---
import Layout from '../layouts/Layout.astro';
import SeoulMap from '../components/SeoulMap';
---

<Layout title="Seoul Sillok - Interactive Map">
  <main class="w-full h-screen overflow-hidden bg-zinc-900">
    <SeoulMap client:only="react" />
  </main>
</Layout>
